body {
    font-family: 'Poppins', 'Mulish';
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: darkblue;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.overview h2 { 
    font-family: 'Poppins';
    font-size: 20px; 
    color:  dark blue
    ;

}

.overview p, .overview ul { 
    font-family: 'Mulish';
    font-size: 18px; 
    color:   darkblue;

}

.card img { 
    width: 50vh; 
    height: 50vh; 


}

misclicks h2{ 
    font-size: 20px; 

}

misclicks p{ 
    font-size: 18px; 

}


.card-details2 img { 
    width: 30vh; 
    height: 30vh; 
}


